<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Form</title>
  </head>
  <body>
    <form action="http://localhost:3000/posts" method="post">
      <label for="name"> Enter the name of the author </label>
      <input type="text" name="name" id="" />
      <label for="content"></label>
      <input type="text" name="content" id="" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
