<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div {
        border: 2px solid red;
        width: 40%;
        text-align: center;
        height: 50vh;
        background-color: green;
        color: white;
      }
      h2 {
        background-color: lightgreen;
      }
    </style>
  </head>
  <body>
    <div>
      <h2>Post by <%= name %></h2>
      <p id="content"><%= content %></p>
      <a href="/posts">Go Back</a>
    </div>
  </body>
</html>
