body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: lightblue;
}
.container {
  border: 2px solid red;
  padding: 1rem;
  margin: 0.1rem;
  width: 25%;
}

.author1 {
  font-style: italic;
}

.content1 {
  font-weight: bold;
}
